@font-face {
    font-family: 'pokemon classic';
    src: url(../font/pokemon-classic.ttf);
}
:root {
    --white: rgb(224, 224, 224);
    --border: 0.3rem solid rgb(178, 177, 178);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
}
body {
    /* overflow-y: hidden; */
    background: rgb(68, 68, 68);
    background-attachment: fixed;
    font-family: 'pokemon classic', Arial, Helvetica, sans-serif;
    color: var(--white);
}
.quiz-main {
  display: flex;
  justify-content: center;
}
.quiz-container {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
.pokemon-types {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 5%;
}
.pokemon-name {
  padding: 1%;
  background: rgb(238, 64, 53) linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.2) 100%);
  border: var(--border);
  border-radius: 1rem 1rem 0 0;
  text-align: center;
}
.pokemon-image {
  --size: 25rem;
  width: var(--size);
  height: var(--size);
  padding: 5%;
  margin-bottom: 2%;
  background-color: var(--white);
  border: var(--border);
  border-top: 0;
  border-radius: 0 0 1rem 1rem;
  object-fit: cover;
}
.types {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.type-title {
  margin: auto;
  text-align: center;
  margin-bottom: 10%;
}
.button-lives {
  display: flex;
  justify-content: space-between;
}
.button-container {
  width: 25rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.pokeball-button {
  display: flex;
  justify-content: center;
  align-items: stretch;
  cursor: pointer;
}
.pokeball-button:hover {
  transform: scale(1.05);
}
.pokeball-button:has(:disabled) {
  /* width: auto; */
  animation: button-rotate 1s ease-in forwards;
}
.check-button {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(185, 185, 185) linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
  border: 5px solid rgb(88, 88, 90);
  border-radius: 1rem;
  cursor: pointer;
  font: inherit;
  font-size: 1.5rem;
}
.check-button:disabled {
  overflow: hidden;
  animation: button-close 1s ease-in forwards;
}
.upper-half {
  transform: translateX(50%);
}
.lower-half {
  transform: translateX(-50%);
}
@keyframes button-close {
  0% {
    width: 20rem;
  }
  50% {
    width: 2.5rem;
  }
  100% {
    width: 2.5rem;
  }
}
@keyframes button-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);    
  }
}
.lives {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.life {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
}
.types-gallery {
  /* background-color: blue; */
  /* height: 80vh; */
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 3%;
}
.types-gallery type-component {
  width: 15%;
  margin: 1% auto;
}
