@font-face {
    font-family: 'pokemon classic';
    src: url(../font/pokemon-classic.ttf);
}
:root {
    --white: rgb(224, 224, 224);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
}
body {
    /* overflow-y: hidden; */
    background: rgb(68, 68, 68);
    background-attachment: fixed;
    font-family: 'pokemon classic', Arial, Helvetica, sans-serif;
    color: var(--white);
}
.quiz-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz {
  flex: 1;
}
.pokemon-image {
  --size: 30rem;
  width: var(--size);
  height: var(--size);
}
.types-gallery {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
