@font-face {
    font-family: 'pokemon classic';
    src: url(../font/pokemon-classic.ttf);
}
:root {
    --white: rgb(224, 224, 224);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
}
body {
    /* overflow-y: hidden; */
    background: rgb(68, 68, 68);
    background-attachment: fixed;
    font-family: 'pokemon classic', Arial, Helvetica, sans-serif;
    color: var(--white);
}
.quiz-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2%;
}
.pokemon-name {
  padding: 1%;
  background: rgb(238, 64, 53) linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.2) 100%);
  border: 0.5rem solid rgb(178, 177, 178);
  border-radius: 1rem 1rem 0 0;
  text-align: center;
}
.pokemon-image {
  --size: 25rem;
  width: var(--size);
  height: var(--size);
  padding: 5%;
  margin-bottom: 2%;
  background-color: var(--white);
  border: 0.5rem solid rgb(178, 177, 178);
  border-top: 0;
  border-radius: 0 0 1rem 1rem;
  object-fit: cover;
}
.types {
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.type-title {
  margin: auto;
  text-align: center;
  margin-bottom: 10%;
}
.lifes {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1%;
}
.life {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
}
.types-gallery {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.types-gallery type-component {
  width: 15%;
}
